root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[PKGBUILD]
shell_variant = bash

[{*.sh,*.install,*.in}]
shell_variant = bash

[nvidia-all-config/{prepare,install-common,install-deb,install-rpm,module-sign}]
shell_variant = bash

[nvidia-all-patches/{patchwork,patches.list}]
shell_variant = bash
