.*
!.github
!.gitignore
!PKGBUILD
!prepare
!install.sh
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.tar.zst
*.old
*.db
*.files
*.deb
*.rpm
*.spec
*.dsc
src/
pkg/
dist/
release/
logs/
*log.txt
*.part
BIG_UGLY_FROGMINER
