.*
!.github
!.gitignore
!.gitattributes
!.editorconfig
*~
*.bak
*.db
*.deb
*.dsc
*.files
*.log
*.old
*.orig
*.part
*.pkg
*.rpm
*.run
*.spec
*.tar.gz
*.tar.zst
*.tgz
*.txt
*.xz
src/
pkg/
dist/
release/
logs/
BIG_UGLY_FROGMINER
BIG_UGLY_FROGMINER.pending
